In [2]:
import pandas as pd
import xgboost as xgb
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import mean_absolute_error

In [3]:
#create a dataframe 

df = pd.read_csv('X_data.csv')

In [4]:
#separate columns

df['date'],df['1_1'], df['1_2'], df['1_3'], df['2_1'], df['2_2'], df['2_3'], df['3_1'], df['3_2'], df['3_3'],df['4_1'], df['4_2'], df['4_3'],df['5_1'], df['5_2'], df['5_3'],df['H_data'],df['AH_data'] = df[';T_data_1_1;T_data_1_2;\
T_data_1_3;T_data_2_1;T_data_2_2;T_data_2_3;T_data_3_1;\
T_data_3_2;T_data_3_3;T_data_4_1;T_data_4_2;T_data_4_3;\
T_data_5_1;T_data_5_2;T_data_5_3;H_data;AH_data'].str.split(';').str

#drop the initial column

df_ = df.drop([';T_data_1_1;T_data_1_2;\
T_data_1_3;T_data_2_1;T_data_2_2;T_data_2_3;T_data_3_1;\
T_data_3_2;T_data_3_3;T_data_4_1;T_data_4_2;T_data_4_3;\
T_data_5_1;T_data_5_2;T_data_5_3;H_data;AH_data'], axis = 1)

In [6]:
#change str to int

df_['1_1'], df_['1_2'], df_['1_3'], df_['2_1'], df_['2_2'], df_['2_3'], df_['3_1'], df_['3_2'], df_['3_3'],df_['4_1'], df_['4_2'], df_['4_3'],df_['5_1'], df_['5_2'], df_['5_3'],df_['H_data'],df_['AH_data'] = df_['1_1'].astype(int), df_['1_2'].astype(int), df_['1_3'].astype(int), df_['2_1'].astype(int), df_['2_2'].astype(int), df_['2_3'].astype(int), df_['3_1'].astype(int), df_['3_2'].astype(int), df_['3_3'].astype(int),df_['4_1'].astype(int), df_['4_2'].astype(int), df_['4_3'].astype(int),df_['5_1'].astype(int), df_['5_2'].astype(int), df_['5_3'].astype(int),df_['H_data'].astype(float),df_['AH_data'].astype(float)

In [7]:
#create a new dataframe

df_train = pd.read_csv('Y_train.csv', header = None, prefix = 'var')

In [8]:
#separate columns

df_train['date'], df_train['result'] = df_train['var0'].str.split(';').str
df_train_ = df_train.drop(['var0'], axis = 1)

In [9]:
#add training data to the first data frame

df_full = pd.merge(df_, df_train_, on='date', how='inner')

In [10]:
#check the full data frame

print(df_full.shape)
df_full.head()

(29184, 19)

,date,1_1,1_2,1_3,2_1,2_2,2_3,3_1,3_2,3_3,4_1,4_2,4_3,5_1,5_2,5_3,H_data,AH_data,result
0,2015-01-04 00:05:00,277,326,273,322,335,352,505,501,670,326,379,337,231,236,242,153.77,7.90,392
1,2015-01-04 01:05:00,277,253,272,320,333,355,500,501,687,337,396,335,234,242,230,158.27,6.96,384
2,2015-01-04 02:05:00,262,218,260,326,336,330,505,499,443,347,399,332,243,251,240,153.36,7.29,393
3,2015-01-04 03:05:00,243,238,252,327,329,308,520,498,540,342,387,334,257,258,246,153.21,7.11,399
4,2015-01-04 04:05:00,236,238,245,323,320,318,522,501,524,343,371,344,264,263,265,195.71,7.97,400

In [14]:
#set X and y

X = df_full[['1_1' , '1_2' , '1_3' ,
             '2_1' , '2_2' , '2_3' ,
             '3_1' , '3_2' , '3_3' ,
             '4_1' , '4_2' , '4_3' ,
             '5_1' , '5_2' , '5_3' ,
             'H_data' ,
             'AH_data']]
y = df_full['result']
y_int = y.astype(int)

In [15]:
#create new columns with mean values

#1
#col_1 = X.loc[: , "1_1":"1_3"]
#X['1_mean'] = col_1.mean(axis=1)
#2
#col_2 = X.loc[: , "2_1":"2_3"]
#X['2_mean'] = col_2.mean(axis=1)
#3
#col_3 = X.loc[: , "3_1":"3_3"]
#X['3_mean'] = col_3.mean(axis=1)
#4
#col_4 = X.loc[: , "4_1":"4_3"]
#X['4_mean'] = col_4.mean(axis=1)
#5
#col_5 = X.loc[: , "5_1":"5_3"]
#X['5_mean'] = col_5.mean(axis=1)

In [16]:
#set X_ with mean values

#X_ = X[['1_mean' , '2_mean' , '3_mean' , '4_mean' , '5_mean' , 'H_data' , 'AH_data']]

In [51]:
#cross-validation with 3 folds
#data_dmatrix = xgb.DMatrix(data = X, label = y_int)

#params = {"objective":"reg:linear",'colsample_bytree': 0.3,'learning_rate': 0.1,
#                'max_depth': 5, 'alpha': 10}

#cv_results = xgb.cv(dtrain=data_dmatrix, params=params, nfold=3,
#                   num_boost_round=50,early_stopping_rounds=10,metrics="mae", as_pandas=True, seed=123)

#cv_results['test-mae-mean'].tail(1)

[11:16:56] WARNING: /usr/local/miniconda/conda-bld/xgboost_1584539872846/work/src/objective/regression_obj.cu:167: reg:linear is now deprecated in favor of reg:squarederror.
[11:16:56] WARNING: /usr/local/miniconda/conda-bld/xgboost_1584539872846/work/src/objective/regression_obj.cu:167: reg:linear is now deprecated in favor of reg:squarederror.
[11:16:56] WARNING: /usr/local/miniconda/conda-bld/xgboost_1584539872846/work/src/objective/regression_obj.cu:167: reg:linear is now deprecated in favor of reg:squarederror.

49    11.607027
Name: test-mae-mean, dtype: float64

In [52]:
#split set in a train and a test group

X_train, X_test, y_train, y_test = train_test_split(X, y_int, test_size=0.33, random_state=42)

#learn model, make predictions, validate the model on the test dataframe

XGB = xgb.XGBRegressor(n_estimators=100, learning_rate=0.08, gamma=0, subsample=0.75,
                           colsample_bytree=1, max_depth=8)
XGB.fit(X_train, y_train)
predictions = XGB.predict(X_test)
print(predictions)
print('MAE = ' , mean_absolute_error(y_test, predictions))

[444.2277  315.41022 359.3278  ... 444.9042  422.21967 422.73264]
MAE =  10.158007642658635

In [55]:
#create a new dataframe

Y_submit = pd.read_csv('Y_submit.csv', header = None, prefix = 'var')

#split columns, drop the column with results
Y_submit['date'], Y_submit['result'] = Y_submit['var0'].str.split(';').str
Y_submit_ = Y_submit.drop(['var0'], axis = 1)
Y_submit_date = Y_submit_.drop(['result'], axis = 1)
#Y_submit_date

In [56]:
#create a new dataframe, where the results should be predicted

df_full_submit = pd.merge(df_, Y_submit_date, on='date', how='inner')
#df_full_submit.head()

In [57]:
#set X

X_submit = df_full_submit[['1_1' , '1_2' , '1_3' ,
                           '2_1' , '2_2' , '2_3' ,
                           '3_1' , '3_2' , '3_3' ,
                           '4_1' , '4_2' , '4_3' ,
                           '5_1' , '5_2' , '5_3' ,
                           'H_data' ,
                           'AH_data']]

In [65]:
#predict

predictions_submit = XGB.predict(X_submit)
print(predictions_submit)

[436.3783  441.64215 415.34232 ... 453.49753 443.58932 445.04984]

In [67]:
#add predicted results to the Y dataset

Y_submit_date['submit'] = predictions_submit.astype(int)
Y_submit_date.shape

(5808, 2)

In [69]:
#save Y dataset as a .csv file with the name 'Y_submit.csv' and no header

Y_submit_date.to_csv('Y_submit.csv', encoding='utf-8', index=False, header = None)